@using EntityLayer.Concrete
@model List<Category>

@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_AdminLayout.cshtml";
}


<!--<link href="~/Content/bootstrap.min.css" rel="stylesheet" />-->
@*<style>
        table td {
            font-size: 12px;
        }
    </style>*@

<table style="width: 90.0%" class="table table-striped">
    <tr>
        <th>#</th>
        <th>Kategori Adı</th>
        <th>Açıklama</th>
        <th>Sil</th>
        <th>Güncelle</th>
        <th>Başlıklar</th>
    </tr>

    @foreach (var item in Model)
    {
        <tr>
            <th>@item.CategoryId</th>
            <td>@item.CategoryName</td>
            <td>@item.CategoryDescription</td>
            <td><a href="#" class="btn btn-danger">Sil</a></td>
            <td><a href="#" class="btn btn-success">Güncelle</a></td>
            <td><a href="#" class="btn btn-info">Başlıklar</a></td>
        </tr>
    }
</table>

<a href="/AdminCategory/AddCategory" class="btn btn-primary" style="margin-left: 50px">Yeni Kategori Ekle</a>

