@using EntityLayer.Concrete
@model List<Category>

@{
    ViewBag.Title = "Admin Paneli | Anasayfa";
    Layout = "~/Views/Shared/_AdminLayout.cshtml";
}
    


@section css{
    <!-- Google Font: Source Sans Pro -->
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Source+Sans+Pro:300,400,400i,700&display=fallback">
    <!-- Font Awesome -->
    <link rel="stylesheet" href="/AdminLTE/plugins/fontawesome-free/css/all.min.css">
    <!-- Ionicons -->
    <link rel="stylesheet" href="https://code.ionicframework.com/ionicons/2.0.1/css/ionicons.min.css">
    <!-- Tempusdominus Bootstrap 4 -->
    <link rel="stylesheet" href="/AdminLTE/plugins/tempusdominus-bootstrap-4/css/tempusdominus-bootstrap-4.min.css">
    <!-- iCheck -->
    <link rel="stylesheet" href="/AdminLTE/plugins/icheck-bootstrap/icheck-bootstrap.min.css">
    <!-- Theme style -->
    <link rel="stylesheet" href="/AdminLTE/dist/css/adminlte.min.css">
    <!-- overlayScrollbars -->
    <link rel="stylesheet" href="/AdminLTE/plugins/overlayScrollbars/css/OverlayScrollbars.min.css">
}



<div class="card">
    <div class="card card-secondary">
        <h3 class="card-header" style="text-align: center;">Kategori Listesi</h3>
    </div>
    <!-- /.card-header -->
    <div class="card-body">
        <div id="example1_wrapper" class="dataTables_wrapper">
            <div class="row">

                <div class="col-sm-12">
                    <table id="example1" class="table table-bordered table-striped dataTable dtr-inline" role="grid" aria-describedby="example1_info">
                        <thead>
                        <tr role="row">
                            <th class="sorting_asc" tabindex="0" aria-controls="example1" rowspan="1" colspan="1">#</th>
                            <th class="sorting" tabindex="0" aria-controls="example1" rowspan="1" colspan="1">Kategori Adı</th>
                            <th class="sorting" tabindex="0" aria-controls="example1" rowspan="1" colspan="1">Kategori Açıklaması</th>
                            <th class="sorting" tabindex="0" aria-controls="example1" rowspan="1" colspan="1">Sil</th>
                            <th class="sorting" tabindex="0" aria-controls="example1" rowspan="1" colspan="1">Güncelle</th>
                            <th class="sorting" tabindex="0" aria-controls="example1" rowspan="1" colspan="1">Başlıklar</th>
                        </tr>
                        </thead>
                        <tbody>
                        @foreach (var item in Model)
                        {
                            <tr role="row" class="odd">
                                <td tabindex="0" class="sorting_1">@item.CategoryId</td>
                                <td>@item.CategoryName</td>
                                <td>@item.CategoryDescription</td>
                                <td style="text-align: center;"><a href="/AdminCategory/DeleteCategory/@item.CategoryId" class="btn btn-danger"><i class="far fa-trash-alt" style="padding: 3px;"></i>Sil</a></td>
                                <td style="text-align: center;"><a href="~/AdminCategory/UpdateCategory/@item.CategoryId" class="btn btn-success"> <i class="fas fa-edit" style="padding: 3px;"></i>Güncelle</a></td>
                                <td style="text-align: center;"><a href="#" class="btn btn-info"><i class="far fa-folder" style="padding: 3px;"></i>Başlıklar</a></td>
                            </tr>
                        }
                        </tbody>
                        <tfoot>
                        <tr><th rowspan="1" colspan="1">#</th><th rowspan="1" colspan="1">Kategori Adı</th><th rowspan="1" colspan="1">Kategori Açıklama</th><th rowspan="1" colspan="1">Sil</th><th rowspan="1" colspan="1">Güncelle</th><th rowspan="1" colspan="1">Başlıklar</th></tr>
                        </tfoot>
                    </table>
                </div>
            </div>
            <div class="row">
                <div class="col-sm-12 col-md-8">

                    <div class="" id="example1_info" role="status" aria-live="polite"> Toplam Kategori Sayısı : @Model.Count<Category/> </div>
                </div>
                <div class="col-sm-12 col-md-4">

                    <div class="dataTables_paginate paging_simple_numbers" id="example1_paginate">
                        <ul class="pagination">
                            <li class="paginate_button page-item previous disabled" id="example1_previous">
                                <a href="#" aria-controls="example1" data-dt-idx="0" tabindex="0" class="page-link">Geri</a> 
                            </li>
                            <li class="paginate_button page-item active"><a href="#" aria-controls="example1" data-dt-idx="1" tabindex="0" class="page-link">1</a></li>
                            <li class="paginate_button page-item "><a href="#" aria-controls="example1" data-dt-idx="2" tabindex="0" class="page-link">2</a></li>
                            <li class="paginate_button page-item "><a href="#" aria-controls="example1" data-dt-idx="3" tabindex="0" class="page-link">3</a></li>
                            <li class="paginate_button page-item "><a href="#" aria-controls="example1" data-dt-idx="4" tabindex="0" class="page-link">4</a></li>
                            <li class="paginate_button page-item "><a href="#" aria-controls="example1" data-dt-idx="5" tabindex="0" class="page-link">5</a></li>
                            <li class="paginate_button page-item "><a href="#" aria-controls="example1" data-dt-idx="6" tabindex="0" class="page-link">6</a></li>
                            <li class="paginate_button page-item next" id="example1_next">
                                <a href="#" aria-controls="example1" data-dt-idx="7" tabindex="0" class="page-link">İleri</a>
                            </li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
        <div style="text-align: center;">
            <a href="~/AdminCategory/AddCategory" class="btn btn-primary">Yeni Kategori Ekle</a>

            <br/>
            <br/>
        </div>
    </div>
    <!-- /.card-body -->
</div>



@section script
{
<!-- jQuery -->
<script src="/AdminLTE/plugins/jquery/jquery.min.js"></script>
<!-- jQuery UI 1.11.4 -->
<script src="/AdminLTE/plugins/jquery-ui/jquery-ui.min.js"></script>
<!-- Resolve conflict in jQuery UI tooltip with Bootstrap tooltip -->
<script>
    $.widget.bridge('uibutton', $.ui.button)
</script>
<!-- Bootstrap 4 -->
<script src="/AdminLTE/plugins/bootstrap/js/bootstrap.bundle.min.js"></script>
<!-- daterangepicker -->
<script src="/AdminLTE/plugins/moment/moment.min.js"></script>
<script src="/AdminLTE/plugins/daterangepicker/daterangepicker.js"></script>
<!-- Tempusdominus Bootstrap 4 -->
<script src="/AdminLTE/plugins/tempusdominus-bootstrap-4/js/tempusdominus-bootstrap-4.min.js"></script>
<!-- overlayScrollbars -->
<script src="/AdminLTE/plugins/overlayScrollbars/js/jquery.overlayScrollbars.min.js"></script>
<!-- AdminLTE App -->
<script src="/AdminLTE/dist/js/adminlte.js"></script>
<!-- AdminLTE for demo purposes -->
<script src="/AdminLTE/dist/js/demo.js"></script>
<!-- AdminLTE dashboard demo (This is only for demo purposes) -->
<script src="/AdminLTE/dist/js/pages/dashboard.js"></script>}



