
@{
    Layout = null;
}
<!DOCTYPE html>



<div>Mvc Kamp Proje Örneği ; Kategori</div>
<br />

<html lang="en">


<meta charset="utf-8">
<meta name="viewport" content="width=device-width, initial-scale=1">
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css">
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/js/bootstrap.min.js"></script>



<table class="table table-hover">
    <tr>
        <th>ID</th>
        <th>Kategori</th>
        <th>Açıklama</th>
        <th>Durum</th>
        <th>Güncelle</th>
    </tr>



    <tr>
        <th>1 </th>

        <td>Eğitim </td>
        <td>Açıklama Yapıldı</td>
        <td>True </td>
        <td><button type="button" class="btn btn-warning btn">Güncelle</button></td>

    </tr>

    <tr>
        <th>2</th>

        <td>Spor </td>
        <td>Açıklama Yapıldı</td>
        <td>True </td>
        <td><button type="button" class="btn btn-warning btn">Güncelle</button></td>
    </tr>
    <tr>
        <th>3 </th>

        <td>Kitap </td>
        <td>Açıklama Yapıldı</td>
        <td>True </td>
        <td><button type="button" class="btn btn-warning btn">Güncelle</button></td>
    </tr>


</table>

<button type="button" class="btn btn-primary btn-lg">Yeni Kategori</button>
<button type="button" class="btn btn-warning btn-lg">Kategori Listesi</button>
<button type="button" class="btn btn-success btn-lg">Kategori Açıklaması</button>
<button type="button" class="btn btn-danger btn-lg">Kategori Durumu</button>


</html>