
@{
    Layout = null;
}

<!DOCTYPE html>

<div>Mvc Kamp Proje Örneği ; Kategori</div>
<br />
<table>
    <tr>
        <th>ID  </th>
        <th>Kategori</th>
        <th>Açıklama</th>
        <th>Durum</th>
    </tr>
    <tr>
            <th>1  </th>
            
        <td>Eğitim  </td>
        <td>Açıklama Yapıldı</td>
        <td>True </td>
        </tr>   
    
   
</table>