
@{
    ViewBag.Title = "Page404";
    Layout = "~/Views/Shared/_AdminLayout.cshtml";
}

 

@section css
{<link href="https://fonts.googleapis.com/css?family=Montserrat:400,700,900" rel="stylesheet">
    <link type="text/css" rel="stylesheet" href="~/AdminLTE/pages/error-404/css/style.css" />}


<div id="notfound">
    <div class="notfound">
        <div class="notfound-404">
            <h1>Oops!</h1>
        </div>
        <h2>404 - Sayfa Bulunamadı</h2>
        <p>Aradığınız sayfa, adı değiştirilmiş veya geçici olarak kullanılamıyor olabilir. </p>
        <a href="#">Anasayfaya Git</a>
    </div>
</div>


<img src="~/AdminLTE/images/y-zelanda.jpg" />