
@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Title Alanı - Başlık</title>
</head>
<body>
    <div>Burası Layout Alanı</div>

<div>@RenderBody()

</div>
</body>
</html>
