@using EntityLayer.Concrete
@model List<ImageFile>

@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_AdminLayout.cshtml";
}


@section css{
    <!-- Google Font: Source Sans Pro -->
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Source+Sans+Pro:300,400,400i,700&display=fallback">
    <!-- Font Awesome -->
    <link rel="stylesheet" href="/AdminLTE/plugins/fontawesome-free/css/all.min.css">
    <!-- Ionicons -->
    <link rel="stylesheet" href="https://code.ionicframework.com/ionicons/2.0.1/css/ionicons.min.css">
    <!-- Tempusdominus Bootstrap 4 -->
    <link rel="stylesheet" href="/AdminLTE/plugins/tempusdominus-bootstrap-4/css/tempusdominus-bootstrap-4.min.css">
    <!-- iCheck -->
    <link rel="stylesheet" href="/AdminLTE/plugins/icheck-bootstrap/icheck-bootstrap.min.css">
    <!-- Theme style -->
    <link rel="stylesheet" href="/AdminLTE/dist/css/adminlte.min.css">
    <!-- overlayScrollbars -->
    <link rel="stylesheet" href="/AdminLTE/plugins/overlayScrollbars/css/OverlayScrollbars.min.css">
    <!-- Font Awesome -->
    <link rel="stylesheet" href="/AdminLTE/plugins/fontawesome-free/css/all.min.css">
    <!-- Ekko Lightbox -->
    <link rel="stylesheet" href="/AdminLTE/plugins/ekko-lightbox/ekko-lightbox.css">
}

<body class="hold-transition sidebar-mini">
  <div class="wrapper">
    <!-- Navbar -->
    <!-- /.navbar -->
    <!-- Main Sidebar Container -->
    <!-- Content Wrapper. Contains page content -->

    <div class="container-fluid">
      <div class="row">
        <div class="col-12">

        </div>
        <div class="col-12">
          <div class="card card-primary">
            <div class="card-header">
              <h4 class="card-title">Galerideki Resimler</h4>
            </div>
            <div class="card-body">
                <div class="row">
                    
                        
                   
                    @foreach (var item in Model)
                    {
                        <div class="position-relative" data-toggle="lightbox" data-title="@item.ImageName" data-gallery="gallery" style="float:left;width:13%;height:100%; padding-left: 5px;">
                            <img src="@item.ImagePath" alt="Photo 3" class="img-fluid" alt="white sample" style="float: left; width: 200px; height: 200px; object-fit: cover;">
                            <div class="ribbon-wrapper ribbon-xl" style="width: 105px;top: -6px;">
                                <div class="ribbon bg-danger" style="width: 138px;top: 31px;">
                                    @item.ImageName
                                </div>
                            </div>
                        </div>

                    } 
                </div>
            
              
              </div>
            </div>
          </div>
        </div>
      </div>
    </div><!-- /.container-fluid -->
    <!-- /.content -->
 
  <!-- /.content-wrapper -->
  <!-- /.control-sidebar -->
  <!-- jQuery -->
    @section script
    {
        <script src="/AdminLTE/plugins/jquery/jquery.min.js"></script>
        <!-- Bootstrap -->
        <script src="/AdminLTE/plugins/bootstrap/js/bootstrap.bundle.min.js"></script>
        <!-- Ekko Lightbox -->
        <script src="/AdminLTE/plugins/ekko-lightbox/ekko-lightbox.min.js"></script>
        <!-- AdminLTE App -->
        <script src="/AdminLTE/dist/js/adminlte.min.js"></script>
        <!-- Filterizr-->
        <script src="/AdminLTE/plugins/filterizr/jquery.filterizr.min.js"></script>
        <!-- AdminLTE for demo purposes -->
        <script src="/AdminLTE/dist/js/demo.js"></script>
        <!-- Page specific script -->
        <script>
            $(function () {
                $(document).on('click', '[data-toggle="lightbox"]', function(event) {
                    event.preventDefault();
                    $(this).ekkoLightbox({
                        alwaysShowClose: true
                    });
                });

                $('.filter-container').filterizr({gutterPixels: 3});
                $('.btn[data-filter]').on('click', function() {
                    $('.btn[data-filter]').removeClass('active');
                    $(this).addClass('active');
                });
            })
        </script>
    }

</body>
