
@{
    Layout = null;
}

<!DOCTYPE html>
<!doctype html>
<html lang="en">
  <head>
  	<title>Giriş Sayfası</title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

	<link href="https://fonts.googleapis.com/css?family=Lato:300,400,700&display=swap" rel="stylesheet">

	<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">
	
	<link rel="stylesheet" href="/AdminLTE/pages/loginForm/css/style.css">

	</head>
	<body>
    <section class="ftco-section" style="background-image: url('/AdminLTE/images/loginbg.jpg');">

        <div class="container">
            <div class="row justify-content-center">
                <div class="col-md-6 text-center mb-5">
                    <h2 class="heading-section">Giriş Sayfası
                    </h2>
                </div>
            </div>
            <div class="row justify-content-center">
                <div class="col-md-6 col-lg-4" >
                    <div class="login-wrap py-5" style="background: rgb(62 64 55 / 29%);">
                        <div class="img d-flex align-items-center justify-content-center" style="background-image: url(/AdminLTE/pages/loginForm/images/bg.jpg); "></div>
                        <h3 class="text-center mb-0" >HOŞGELDİNİZ!...</h3>
                      
                     
                        <form action="#" class="login-form">
                            <div class="form-group">
                                <div class="icon d-flex align-items-center justify-content-center" style="background: -webkit-gradient(linear, left top, left bottom, from(#f00), to(#333));
                                                                                                                                                                                                                                                                                                                                                                                                                -webkit-background-clip: text;
                                                                                                                                                                                                                                                                                                                                                                                                                -webkit-text-fill-color: transparent;"><span class="fa fa-user"></span></div>
                                <input type="text" class="form-control" placeholder="Kullanıcı Adınız" required>
                            </div>
                            <div class="form-group">
                                <div class="icon d-flex align-items-center justify-content-center"><span class="fa fa-lock"></span></div>
                                <input type="password" class="form-control" placeholder="Şifreniz" required>
                            </div>
                            <div class="form-group d-md-flex">
                                <div class="w-100 text-md-right">
                                    <a href="#">Şifremi Unuttum!...</a>
                                </div>
                            </div>
                            <div class="form-group">
                                <button type="submit" class="btn form-control btn-primary rounded submit px-3">Giriş Yap</button>
                            </div>
                        </form>
                        <p class="text-center">Sitemizde konu açma ve ya yorum yapabilmeniz için üye olmanız gerekli. Üye olmak için   
                        <a href="#">Buraya Tıklayın!..</a>
                    </div>
                </div>
            </div>
        </div>
    </section>

	<script src="/AdminLTE/pages/loginForm/js/jquery.min.js"></script>
  <script src="/AdminLTE/pages/loginForm/js/popper.js"></script>
  <script src="/AdminLTE/pages/loginForm/js/bootstrap.min.js"></script>
  <script src="/AdminLTE/pages/loginForm/js/main.js"></script>

	</body>
</html>

