
@{
    Layout = null;
}
<!DOCTYPE html>
<html lang="en">
<head>
	<title>Kullanıcı Giriş Sayfası</title>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1">
<!--===============================================================================================-->	
	<link rel="icon" type="image/png" href="/AdminLTE/pages/loginForm/images/icons/favicon.ico"/>
<!--===============================================================================================-->
	<link rel="stylesheet" type="text/css" href="/AdminLTE/pages/loginForm/vendor/bootstrap/css/bootstrap.min.css">
<!--===============================================================================================-->
	<link rel="stylesheet" type="text/css" href="/AdminLTE/pages/loginForm/fonts/font-awesome-4.7.0/css/font-awesome.min.css">
<!--===============================================================================================-->
	<link rel="stylesheet" type="text/css" href="/AdminLTE/pages/loginForm/fonts/iconic/css/material-design-iconic-font.min.css">
<!--===============================================================================================-->
	<link rel="stylesheet" type="text/css" href="/AdminLTE/pages/loginForm/vendor/animate/animate.css">
<!--===============================================================================================-->	
	<link rel="stylesheet" type="text/css" href="/AdminLTE/pages/loginForm/vendor/css-hamburgers/hamburgers.min.css">
<!--===============================================================================================-->
	<link rel="stylesheet" type="text/css" href="/AdminLTE/pages/loginForm/vendor/animsition/css/animsition.min.css">
<!--===============================================================================================-->
	<link rel="stylesheet" type="text/css" href="/AdminLTE/pages/loginForm/vendor/select2/select2.min.css">
<!--===============================================================================================-->	
	<link rel="stylesheet" type="text/css" href="/AdminLTE/pages/loginForm/vendor/daterangepicker/daterangepicker.css">
<!--===============================================================================================-->
	<link rel="stylesheet" type="text/css" href="/AdminLTE/pages/loginForm/css/util.css">
	<link rel="stylesheet" type="text/css" href="/AdminLTE/pages/loginForm/css/main.css">
<!--===============================================================================================-->
</head>

	
<div class="limiter">

    
    <div class="container-login100" style="background-image: url('/AdminLTE/pages/loginForm/images/bg-01.jpg');">
        <div class="wrap-login100" style="background: rgb(119 76 175 / 30%); box-shadow: 0px 0px 8px 12px #dadada; ; background: rgb(119 76 175 / 30%);">

            <form class="login100-form validate-form">
                <span class="login100-form-logo">
                    <i class="zmdi zmdi-landscape"></i>
                </span>

                <span class="login100-form-title p-b-34 p-t-27" style="margin-bottom: 50px;">
                    Giriş Ekranı
                </span>
                @using(Html.BeginForm("Index","Login",FormMethod.Post))
                {
                <div class="wrap-input100 validate-input" data-validate="Kullanıcı Adınızı Girin">
                    <input class="input100" type="text" required="" name="AdminUserName" oninvalid="this.setCustomValidity('Kullanıcı Adınızı Girin.')"
                           oninput="setCustomValidity('')" placeholder="Kullanıcı Adınız" style="box-shadow: -2px 0px 26px #ffffff; border-radius: 5px; background-color: #b39bd6;">
                    <span class="focus-input100" data-placeholder="&#xf207;"></span>
                </div>



                <div class="wrap-input100 validate-input" data-validate="Şifrenizi Girin">
                    <input class="input100" required="" oninvalid="this.setCustomValidity('Kullanıcı Şifrenizi Girin.')"
                           oninput="setCustomValidity('')" type="password" name="AdminPassword" placeholder="Şifreniz" style="box-shadow: -2px 0px 26px #ffffff; border-radius: 5px; background-color: #b39bd6;">
                    <span class="focus-input100" data-placeholder="&#xf191;"></span>
                </div>

                <div class="contact100-form-checkbox">
                    <input class="input-checkbox100" id="ckb1" type="checkbox" name="remember-me">
                    <label class="label-checkbox100" for="ckb1">
                        Beni Hatırla
                    </label>
                </div>

                <div class="container-login100-form-btn">
                    <button class="login100-form-btn" style="box-shadow: 0px 0px 10px 7px #b5b5b5;">
                        Giriş Yap
                    </button>
                </div>}

                <div class="text-center p-l-230" style="margin-top: 20px;">
                    <a class="txt1" href="#">
                        Şifrenizi mi unuttunuz?
                    </a>
                </div>

                <div class="text-center p-t-1" style="margin-top: 30px;">
                    <a class="txt1" style="margin-top: 30px; font-size: 25px;" href="#">
                        Anasayfa git
                    </a>
                </div>
            </form>
        </div>
    </div>
</div>
            

	<div id="dropDownSelect1"></div>}
	
<!--===============================================================================================-->
	<script src="/AdminLTE/pages/loginForm/vendor/jquery/jquery-3.2.1.min.js"></script>
<!--===============================================================================================-->
	<script src="/AdminLTE/pages/loginForm/vendor/animsition/js/animsition.min.js"></script>
<!--===============================================================================================-->
	<script src="/AdminLTE/pages/loginForm/vendor/bootstrap/js/popper.js"></script>
	<script src="/AdminLTE/AdminLTE/pages/loginForm/vendor/bootstrap/js/bootstrap.min.js"></script>
<!--===============================================================================================-->
	<script src="/AdminLTE/pages/loginForm/vendor/select2/select2.min.js"></script>
<!--===============================================================================================-->
	<script src="/AdminLTE/pages/loginForm/vendor/daterangepicker/moment.min.js"></script>
	<script src="/AdminLTE/pages/loginForm/vendor/daterangepicker/daterangepicker.js"></script>
<!--===============================================================================================-->
	<script src="/AdminLTE/pages/loginForm/vendor/countdowntime/countdowntime.js"></script>
<!--===============================================================================================-->
	<script src="/AdminLTE/pages/loginForm/js/main.js"></script>
	



</html>

